# Python caché files & folder
*.pyc
__pycache__/
.mypy_cache/
.ruff_cache/

# Latex documentation
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.sum
*.out
*.bbl
*.blg

# Mac unknown directories
.DS_Store

# Unneeded folders
statement/

# Vscode folders
.vscode/

# Venv folder
.venv/

# Models to ignore 
*.gguf

# Dataset and model folders
.data/
.models/