# Python caché files & folder
*.pyc
__pycache__/
.mypy_cache/
.ruff_cache/
nlp_transformers.egg-info/

# Latex documentation
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.sum
*.out
*.bbl
*.blg

# Mac unknown directories
.DS_Store

# Unneeded folders
statement/

# Vscode folders
.vscode/

# Venv folder
.venv/

# Dataset download data
.data/

# Models not to upload
*.gguf